{% extends 'interpol/baseRu.html' %}
{% load static %}

{% block languageSite %}ru{% endblock %}

{% block title %}О нас{% endblock %}

{% block languageEn %}{% url 'en/about' %}{% endblock %}
{% block languageRu %}{% url 'ru/about' %}{% endblock %}

{% block languageEnSidebar %}{% url 'en/about' %}{% endblock %}
{% block languageRuSidebar %}{% url 'ru/about' %}{% endblock %}

{% block content %}
    <section class="container promo">
        <h1>О нас</h1>
    </section>
    <section class="container">
        <h2>Что такое интерпол?</h2>
        <p>Наше полное название - Международная организация уголовной полиции, и мы являемся межправительственной организацией. У нас 195 стран-участников, и мы помогаем полиции во всех из них работать сообща, чтобы сделать мир более безопасным.</p>
        <p>Для этого мы предоставляем им возможность обмениваться данными о преступлениях и преступниках и получать к ним доступ, а также предлагаем широкий спектр технической и оперативной поддержки.</p>
    </section>
    <section class="container">
        <h2>Подключение полиции</h2>
        <p>Мы соединяем все наши страны с помощью системы связи под названием <b>I-24/7</b>. Страны используют эту защищенную сеть для связи друг с другом и с Генеральным секретариатом. Это также позволяет им получать доступ к нашим базам данных и сервисам в режиме реального времени как из центрального, так и из удаленных мест.</p>
        <p>Мы также координируем работу сетей полиции и экспертов в различных областях борьбы с преступностью, которые собираются вместе в рамках рабочих групп и на конференциях для обмена опытом и идеями.</p>
        <img src="{% static 'img/195-pays-membres-connectes.jpg' %}" alt="195 стран-участников подключено">
    </section>
    <section class="container">
        <h2>Глобальная платформа</h2>
        <p>Сегодняшние преступления становятся все более международными. Крайне важно обеспечить координацию между всеми различными участниками в поддержании глобальной архитектуры безопасности.</p>
        <p>Поскольку ИНТЕРПОЛ является глобальной организацией, он может предоставить эту платформу для сотрудничества; мы даем полиции возможность работать напрямую со своими коллегами, даже между странами, которые не имеют дипломатических отношений.</p>
        <p>Мы также предоставляем голос полиции на мировой арене, взаимодействуя с правительствами на самом высоком уровне, чтобы поощрять это сотрудничество и использование наших услуг.</p>
        <p>Все наши действия политически нейтральны и осуществляются в рамках действующих законов в разных странах.</p>
    </section>
{% endblock %}