{% extends 'interpol/baseRu.html' %}
{% load static %}

{% block languageSite %}ru{% endblock %}

{% block title %}ИНТЕРПОЛ{% endblock %}

{% block languageEn %}{% url 'home' %}{% endblock %}
{% block languageRu %}{% url 'ru/home' %}{% endblock %}

{% block languageEnSidebar %}{% url 'home' %}{% endblock %}
{% block languageRuSidebar %}{% url 'ru/home' %}{% endblock %}

{% block content %}
    <section class="container promo">
        <h1>ИНТЕРПОЛ</h1>
        <p>международная организация, которая содействует всемирному сотрудничеству полиции и борьбе с преступностью.</p>
        <a href="{% url 'ru/about' %}">Узнать больше о нас</a>
    </section>
    <section class="container">
        <h2>Криминальные базы данных</h2>
        <p>Мы управляем целым рядом баз данных, содержащих информацию, связанную с преступниками и совершаемыми преступлениями.</p>
        <p>Базы данных содержат миллионы записей с информацией о физических лицах, такой как имена и отпечатки пальцев; украденное имущество, такое как паспорта и транспортные средства; а также оружие и угрозы, такие как огнестрельное оружие.</p>
        <img src="{% static 'img/statistics.jpg' %}" alt="statistics">
        <p>Национальная полиция может осуществлять поиск в наших базах данных в режиме реального времени в рамках своих расследований. Это может быть сделано через их Национальное центральное бюро Интерпола или непосредственно на передовой, например, специализированными подразделениями по борьбе с преступностью и пограничниками.</p>
        <p>Доступ к базам данных осуществляется через <b>I-24/7</b>, нашу защищенную глобальную полицейскую систему связи. Это техническая сеть, которая связывает правоохранительные органы во всех странах-участниках и позволяет авторизованным пользователям обмениваться конфиденциальной и срочной полицейской информацией со своими коллегами по всему миру.</p>
    </section>
    <section class="container">
        <h2>Последние новости</h2>
    </section>
    <section class="container">
        <h2>наиболее разыскиваемые лица</h2>
    </section>
{% endblock %}