{% extends 'interpol/baseRu.html' %}
{% load static %}

{% block languageSite %}ru{% endblock %}
{% block title %}Профиль{% endblock %}

{% block languageEn %}{% url 'en/profile' %}{% endblock %}
{% block languageRu %}{% url 'ru/profile' %}{% endblock %}

{% block languageEnSidebar %}{% url 'en/profile' %}{% endblock %}
{% block languageRuSidebar %}{% url 'ru/profile' %}{% endblock %}

{% block content %}
<section class="container profile">
        {% if user.is_authenticated %}
            <h1>Профиль пользователя</h1>
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            <p>Адрес электронной почты: <span>{{ user.email }}</span></p>
            <p>Возраст: <span>{{ user.age }}</span> years</p>
            <p>Группа: <span>{{ user.post }}</span></p>
            <a href="{% url 'password_change' %}">Сменить пароль</a>
            {% if user.post == 'Administrator' or user.post == 'Director' %}
            <h2>Генератор кодов для сотрудников</h2>
            <form action="{% url 'codeGenerate' %}" method="post">
                {% csrf_token %}
                <input type="text" name="codeCount">
                <button type="submit">Сгенерировать</button>
            </form>
            <table>
                {% for codes in object_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ codes.code }}</td>
                </tr>
                {% endfor %}
            </table>
            <h2>Генератор кодов для полиции</h2>
            <form action="{% url 'codeGenerate' %}" method="post">
                {% csrf_token %}
                <input type="text" name="codeCount" autocomplete="off">
                <input type="text" name="post" style="height: 0px; width: 0; opacity: 0;" value="2">
                <button type="submit">Generate</button>
            </form>
            <table>
                {% for codes in object_list %}
                {% if codes.post == 2 %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ codes.code }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        {% endif %}
        {% else %}
            <div class="sign">
                <span>Вы не авторизированы</span>
                <button onclick="openPopup(event)" class="signUp signButton">Регистрация</button>
                <button onclick="openPopup(event)" class="signIn signButton">Вход</button>
            </div>
        {% endif %}
    </section>
{% endblock %}