{% extends 'interpol/base.html' %}
{% load static %}

{% block languageSite %}en{% endblock %}
{% block title %}Profile{% endblock %}

{% block languageEn %}{% url 'en/profile' %}{% endblock %}
{% block languageRu %}{% url 'ru/profile' %}{% endblock %}

{% block languageEnSidebar %}{% url 'en/profile' %}{% endblock %}
{% block languageRuSidebar %}{% url 'ru/profile' %}{% endblock %}
{% block content %}
    <section class="container profile">
        {% if user.is_authenticated %}
            <h1>User profile</h1>
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
            <p>Email Address: <span>{{ user.email }}</span></p>
            <p>Group: <span>{{ user.role.role }}</span></p>
            <a href="{% url 'password_change' %}">Change password</a>
            {% if user.role.id == 1 or user.role.id == 2 %}
            <h2>Code generate for staff</h2>
            <form action="{% url 'codeGenerate' %}" method="post">
                {% csrf_token %}
                <input class="{% if errorCode == 'staff-empty-field' or errorCode == 'staff-value-error' %}wrong{% endif %}" type="text" name="codeCount" autocomplete="off">
                <input type="text" name="role" style="height: 0px; width: 0; opacity: 0;" value="4">
                <button type="submit">Generate</button>
                <p>
                    {% if errorCode == 'staff-empty-field' %}The field is not filled{% endif %}
                    {% if errorCode == 'staff-value-error' %}Field entered incorrectly{% endif %}
                </p>
            </form>
            <table>
                {% for codes in object_list %}
                {% if codes.role.id == 4 %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ codes.code }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
            <h2>Code generate for Police</h2>
            <form action="{% url 'codeGenerate' %}" method="post">
                {% csrf_token %}
                <input class="{% if errorCode == 'police-empty-field' or errorCode == 'police-value-error' %}wrong{% endif %}" type="text" name="codeCount" autocomplete="off">
                <input type="text" name="role" style="height: 0px; width: 0; opacity: 0;" value="3">
                <button type="submit">Generate</button>
                <p>
                    {% if errorCode == 'police-empty-field' %}The field is not filled{% endif %}
                    {% if errorCode == 'police-value-error' %}Field entered incorrectly{% endif %}
                </p>
            </form>
            <table>
                {% for codes in object_list %}
                {% if codes.role.id == 3 %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ codes.code }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        {% endif %}
        {% else %}
            <div class="sign">
                <span>You're not logged in</span>
                <button onclick="openPopup(event)" class="signUp signButton">sign up</button>
                <button onclick="openPopup(event)" class="signIn signButton">sign in</button>
            </div>
        {% endif %}
    </section>
{% endblock %}