{% extends 'interpol/baseRu.html' %}
{% load static %}

{% block languageSite %}ru{% endblock %}
{% block title %}Change password{% endblock %}

{% block languageEn %}{% url 'en/request' %}{% endblock %}
{% block languageRu %}{% url 'ru/request' %}{% endblock %}

{% block languageEnSidebar %}{% url 'en/request' %}{% endblock %}
{% block languageRuSidebar %}{% url 'ru/request' %}{% endblock %}
{% block content %}
    <section class="container promo">
        <h1>Change password</h1>
        <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
    </section>
    <section class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Change</button>
        </form>
    </section>
{% endblock %}